@charset "utf-8";

.homeArea{position:relative;width:100%;height:100vh;;background:linear-gradient(to bottom, #267cb7, #012a56)}
.homeScrollArea{position:relative;width:100%}
.timeText{width:100%;line-height:120px;padding-top:30px;color:#fff;text-shadow:2px 2px 2px gray;font-size:116px;font-family:"Hi Melody", cursive;text-align:center;text-overflow:hidden;white-space:nowrap}
.nameInput{width:100%;height:70px;color:#fff;background:transparent;text-shadow:2px 2px 2px gray;font-size:60px;font-family:"Hi Melody", cursive;text-align:center;border:none}


.logoutButton{position:absolute;right:10px;top:10px;width:80px;height:34px;line-height:34px;color:#000;text-align:center;cursor:pointer}


.paperArea{position:absolute;left:calc(50% - 300px);left:-webkit-calc(50% - 300px);left:-moz-calc(50% - 300px);top:calc(50% - 400px);top:-webkit-calc(50% - 400px);top:-moz-calc(50% - 400px);width:600px;height:800px;background:#fff;box-shadow:1px 1px 1px #444;-webkit-box-shadow:1px 1px 1px #444;-moz-box-shadow:1px 1px 1px #444}
.paperButtonArea{position:absolute;left:0;bottom:0;width:100%;height:80px}
.paperButtonArea .prevButton{position:absolute;left:20px;top:20px;width:calc(50% - 30px);width:-webkit-calc(50% - 30px);width:-moz-calc(50% - 30px);height:40px}
.paperButtonArea .nextButton{position:absolute;right:20px;top:20px;width:calc(50% - 30px);width:-webkit-calc(50% - 30px);width:-moz-calc(50% - 30px);height:40px;background:#ccc;color:#000}
.paperButtonArea .nextButton:hover{background:#ccc}
.paperButtonArea .nextButton:active{background:#ccc}

.paperButtonArea .nextButtonOn{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;font-size:14px;background:#00486a;color:#fff;border:none;transition:background-color 1s;-webkit-transition:background-color 1s;-moz-transition:background-color 1s}
.paperButtonArea .nextButtonOn:hover{background:#0095dd}
.paperButtonArea .nextButtonOn:active{background:#0076ae;transition:.1s;-webkit-transition:.1s;-moz-transition:.1s}


.papaerCount{position:absolute;right:10px;top:0;height:50px;color:#000;line-height:50px;color:#000;font-size:20px}
.paperContentArea{position:absolute;left:20px;top:50px;width:calc(100% - 40px);width:-webkit-calc(100% - 40px);width:-moz-calc(100% - 40px);height:470px}
.paperContentArea .row{width:100%;margin-bottom:20px;margin-bottom:40px}
.paperContentArea .row .rowTitle{width:100%;color:#000;font-size:16px;margin-bottom:6px}
.paperContentArea .row .rowItem{width:100%;height:30px;line-height:30px;color:#000;font-size:14px;cursor:pointer}
.paperContentArea .row .rowItem:hover{opacity:0.8}
.paperContentArea .row .rowItem:active{opacity:0.6}
.paperContentArea .row .rowItemOn{color:#008800;font-weight:bold}
.paperContentArea .row .pick{color:#ff0000}
.startArea{display:block}
.startArea h1{position:absolute;left:0;top:200px;width:100%;height:100px;line-height:100px;color:#000;font-size:48px;font-weight:bold;text-align:center}
.startArea .startButton{position:absolute;left:calc(50% - 100px);left:-webkit-calc(50% - 100px);left:-moz-calc(50% - 100px);top:400px;width:200px;height:60px;font-size:20px}
.startArea .startButton1{top:400px}
.startArea .startButton2{top:520px}

.examArea{display:none}
.resultArea{display:none}
.resultArea h1{position:absolute;left:0;top:60px;width:100%;height:100px;line-height:100px;color:#000;font-size:48px;font-weight:bold;text-align:center}
.resultArea .resultButton{position:absolute;left:calc(50% - 100px);left:-webkit-calc(50% - 100px);left:-moz-calc(50% - 100px);bottom:60px;width:200px;height:60px;font-size:20px}
.resultArea .boxArea{position:absolute;left:30px;top:160px;background:#ccc;width:calc(100% - 60px);width:-webkit-calc(100% - 60px);width:-moz-calc(100% - 60px);height:480px;border:1px solid #ccc;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;overflow:hidden}
.resultArea .box{position:relative;width:179px;height:80px;float:left;border-bottom:1px solid #ccc;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;overflow:hidden}
.resultArea .box h5{position:absolute;left:0;width:59px;height:80px;line-height:80px;color:#fff;font-size:16px;text-align:center;background:#444}
.resultArea .box .pick{position:absolute;left:59px;width:61px;height:80px;line-height:80px;color:#000;font-size:20px;text-align:center;font-weight:normal;background:#fff;border-bottom:1px solid #ccc}
.resultArea .box .answer{position:absolute;left:120px;width:60px;height:80px;line-height:80px;font-size:20px;text-align:center;font-weight:normal;background:#eee}
.resultArea .box .correct{color:#000}
.resultArea .box .incorrect{color:#000}
.resultArea .headerBox{border-left:1px solid #000}
.resultArea .headerBox:first-child{border-left:none}
.resultArea .headerBox:last-child{width:180px}
.resultArea .headerBox h5{font-size:14px;background:#ccc;color:#000;font-weight:bold}
.resultArea .headerBox .pick{font-size:14px;background:#ccc;color:#000;font-weight:bold}
.resultArea .headerBox .answer{font-size:14px;background:#ccc;color:#000;font-weight:bold}